In [1]:
import pandas as pd
import numpy as np
import wrangle, prepare, Explore, evaluate

In [2]:
#aquire data
zillow_df = wrangle.get_zillow_data()

In [3]:
zillow_df

,parcelid,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,taxamount,yearbuilt,regionidzip,fips,transactiondate
0,11721753,3.0,2.0,1316.0,205123.0,2627.48,1923.0,95997.0,6037.0,2017-07-21
1,11289917,3.0,2.0,1458.0,136104.0,2319.90,1970.0,97318.0,6037.0,2017-06-23
2,11705026,2.0,1.0,1421.0,35606.0,543.69,1911.0,96018.0,6037.0,2017-06-30
3,14269464,4.0,3.0,2541.0,880456.0,9819.72,2003.0,96958.0,6059.0,2017-06-01
4,11446756,3.0,2.0,1491.0,107110.0,1399.27,1955.0,96162.0,6037.0,2017-08-23
...,...,...,...,...,...,...,...,...,...,...
28122,11991766,6.0,2.0,2634.0,878190.0,12766.88,1921.0,95985.0,6037.0,2017-08-31
28123,14011468,4.0,1.5,1187.0,465999.0,5552.68,1959.0,96180.0,6059.0,2017-08-31
28124,14453399,5.0,3.0,3015.0,852813.0,11662.88,2002.0,96983.0,6059.0,2017-08-31
28125,11128688,5.0,3.0,2992.0,1120000.0,13663.03,1977.0,96356.0,6037.0,2017-08-31
28126,10713993,3.0,3.0,1574.0,563463.0,6903.66,1951.0,96346.0,6037.0,2017-08-31

In [4]:
zillow_df.shape

(28127, 10)

In [5]:
zillow_df.describe()

,parcelid,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,taxamount,yearbuilt,regionidzip,fips
count,2.812700e+04,28127.000000,28127.000000,28080.000000,2.812600e+04,28126.000000,28056.000000,28110.000000,28127.000000
mean,1.304231e+07,3.309418,2.316546,1934.876531,5.349983e+05,6508.726126,1963.775734,96656.206475,6049.519785
std,3.747510e+06,0.943059,1.016947,995.645958,7.076461e+05,8221.312675,23.109064,5129.990642,21.301392
min,1.071186e+07,0.000000,0.000000,240.000000,1.000000e+03,51.260000,1878.000000,95982.000000,6037.000000
25%,1.151464e+07,3.000000,2.000000,1278.000000,1.986698e+05,2705.532500,1950.000000,96208.000000,6037.000000
50%,1.259646e+07,3.000000,2.000000,1675.000000,3.827985e+05,4735.315000,1961.000000,96414.000000,6037.000000
75%,1.414911e+07,4.000000,3.000000,2326.000000,6.326245e+05,7527.885000,1979.000000,96995.000000,6059.000000
max,1.676878e+08,12.000000,11.000000,17245.000000,2.385837e+07,276797.830000,2016.000000,399675.000000,6111.000000

In [6]:
zillow_df.duplicated().sum()

0

In [7]:
zillow_df = wrangle.clean_zillow_data(zillow_df)

In [8]:
zillow_df

,parcelid,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,taxamount,yearbuilt,regionidzip,fips,transactiondate
0,11721753,3.0,2.0,1316.0,205123.0,2627.48,1923.0,95997.0,6037.0,2017-07-21
1,11289917,3.0,2.0,1458.0,136104.0,2319.90,1970.0,97318.0,6037.0,2017-06-23
2,11705026,2.0,1.0,1421.0,35606.0,543.69,1911.0,96018.0,6037.0,2017-06-30
3,14269464,4.0,3.0,2541.0,880456.0,9819.72,2003.0,96958.0,6059.0,2017-06-01
4,11446756,3.0,2.0,1491.0,107110.0,1399.27,1955.0,96162.0,6037.0,2017-08-23
...,...,...,...,...,...,...,...,...,...,...
28122,11991766,6.0,2.0,2634.0,878190.0,12766.88,1921.0,95985.0,6037.0,2017-08-31
28123,14011468,4.0,1.5,1187.0,465999.0,5552.68,1959.0,96180.0,6059.0,2017-08-31
28124,14453399,5.0,3.0,3015.0,852813.0,11662.88,2002.0,96983.0,6059.0,2017-08-31
28125,11128688,5.0,3.0,2992.0,1120000.0,13663.03,1977.0,96356.0,6037.0,2017-08-31
28126,10713993,3.0,3.0,1574.0,563463.0,6903.66,1951.0,96346.0,6037.0,2017-08-31

In [9]:
zillow_df.isna().sum()

parcelid                        0
bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
taxamount                       0
yearbuilt                       0
regionidzip                     0
fips                            0
transactiondate                 0
dtype: int64

In [10]:
#feauture engineering
zillow_df = wrangle.zillow_engineering(zillow_df)

In [11]:
for i in zillow_df.drop(columns=['parcelid','yearbuilt', 'fips','transactiondate']):
    if i == 'bedroomcnt' or i =='bathroomcnt':
        zillow_df = wrangle.handle_outliers(zillow_df, i, .10, .65)
    else:
        zillow_df = wrangle.handle_outliers(zillow_df, i, .25, .75)

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
zillow_df = wrangle.get_dummies(zillow_df, ['State', 'County'])

In [ ]:
zillow_df

In [ ]:
#split data
train, validate, test = wrangle.split_for_model(zillow_df)

In [ ]:
#scale data
train_scaled, validate_scaled, test_scaled = prepare.scale_data(train, validate, test, scale_type='Robust', to_scale =['calculatedfinishedsquarefeet','taxamount','taxrate','yearbuilt'])

In [ ]:
train_scaled[:2]

In [ ]:
###Explore

In [ ]:
Explore.get_distribution(train_scaled.drop(columns=['parcelid','transactiondate','fips']))

In [ ]:
Explore.get_heatmap(train_scaled, 'taxvaluedollarcnt')